.codex
.env
.idea/
.venv/
.DS_Store

out/
others/

src/data/d-scenarios-base.txt
src/data/f2robot_gifs/
src/__pycache__/
src/gui/__pycache__/
tests/__pycache__/

docs/scans
docs/.DS_Store
docs/diplom-master
docs/diplom-master.zip
docs/*/report/svg-inkscape/
docs/*/slides/svg-inkscape/

docs/*/report/*.toc
docs/*/report/*.aux
docs/*/report/*.out
docs/*/report/*.gz
docs/*/report/*.log
docs/*/report/*.bcf
docs/*/report/*.blg
docs/*/report/*.bbl
docs/*/report/*.xml
docs/*/report/*.run.xml
docs/*/report/inc/img/drawio/*.bkp
docs/*/report/inc/img/*.dtmp
docs/*/report/inc/img/*.bkp

docs/*/slides/*.toc
docs/*/slides/*.aux
docs/*/slides/*.out
docs/*/slides/*.gz
docs/*/slides/*.log
docs/*/slides/*.bcf
docs/*/slides/*.blg
docs/*/slides/*.bbl
docs/*/slides/*.xml
docs/*/slides/*.run.xml
docs/*/slides/*.nav
docs/*/slides/*.snm
docs/*/slides/inc/img/drawio/*.bkp
docs/*/slides/inc/img/*.dtmp
docs/*/slides/inc/img/*.bkp
src/data/research/scripts/__pycache__/
